<header class="header">
	<h1 class="logo"><a href="/">사주 상담</a></h1>
	<nav class="nav">
		<a href="#">사주풀이</a>
		<a href="#">오늘의 운세</a>
		<a href="#">올해 운세</a>
		<a href="#">애정운</a>
		<a href="#">재물운</a>
		<a href="#">궁합</a>
	</nav>
</header>